{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{url_for('home')}}" class="nav-link px-2 link-secondary txt-size">Home</a></li>
          <li><a href="{{url_for('needhelp')}}" class="nav-link px-2 link-body-emphasis"> Need Help?</a></li>
          <li><a href="{{url_for('volunteers')}}" class="nav-link px-2 link-body-emphasis"> Volunteers </a></li>
          <li><a href="{{url_for('organizations')}}" class="nav-link px-2 link-body-emphasis"> Organizations </a></li>
        </ul>

        <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form> -->

        <div class="alert alert-warning" role="alert" style="margin-right: 20px;">
          Please sign up or sign in
        </div>
        
        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/static/letterH.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalSignUp">Sign up</a></li>
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalLogIn" >Log in</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>


  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/static/homeless-people.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">HopeNetwork</h1>
        <p class="lead"> At HopeNetwork, our mission is to create a world where everyone has access to the resources and 
          opportunities they need to thrive. We believe in the power of connection, the value of experience, and the 
          potential of every individual.

        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Donate </button>
          <!--make popup-->
        </div>
      </div>
    </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="modalSignUp" tabindex="-1" data-bs-backdrop="static"  aria-labelledby="modalSignUpProject" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: lightcyan;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Sign up</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- <form class="" name="signup_form">
          <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control rounded-3 field" id="floatingInput" placeholder="name@example.com" required>
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" name="name" class="form-control rounded-3 field" id="floatingName" placeholder="Username" required>
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" name="password" class="form-control rounded-3 field" id="floatingPassword" placeholder="Password" required>
            <label for="floatingPassword">Password</label>
          </div> -->

          <form name="signup_form">

            <label for="username">Username</label>
            <input type="text" name="username" class="field form-control rounded-3" placeholder="Username" required>
    
            <div class="row">
              <div class="col-12">
                <label>Your current status: </label>
              </div>
              <div class="btn-group col-12" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-light highlight-button" onclick="setUserStatus('In need of help')">In need of help</button>
                <button type="button" class="btn btn-light highlight-button" onclick="setUserStatus('Volunteer')">Volunteer</button>
              </div>

              <input type="hidden" name="userStatus" id="userStatus" value=""> <!-- Hidden input to store userStatus -->
          </div>

          <script>
            function setUserStatus(status) {
              document.getElementById('userStatus').value = status;
            }
          </script>
          
            <label for="email">Email</label>
            <input type="email" name="email" class="field form-control rounded-3" placeholder="name@example.com" required>
    
            <label for="password">Password</label>
            <input type="password" name="password" class="field form-control rounded-3" placeholder="Password" required>
    
            <p class="error error--hidden"></p>
    
            <input type="submit" value="Sign Up" class="btn" style="border: 1px solid black;">
          
          </form>
  
          <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalLogIn" tabindex="-1" data-bs-backdrop="static"  aria-labelledby="modalLogInProject" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="{{url_for('register')}}"><h1 class="modal-title fs-5" id="exampleModalLabel">Log In</h1></a>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form class="">
          <div class="form-floating mb-3">
            <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalSignUp" tabindex="-1" data-bs-backdrop="static"  aria-labelledby="modalSignUpProject" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: lightcyan;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Sign up</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

          <form name="signup_form">

            <label for="username">Username</label>
            <input type="text" name="username" class="field form-control rounded-3" placeholder="Username" required>
    
            <div class="row">
              <div class="col-12">
                <label>Your current status: </label>
              </div>
              <div class="btn-group col-12" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-light highlight-button" onclick="setUserStatus('In need of help')">In need of help</button>
                <button type="button" class="btn btn-light highlight-button" onclick="setUserStatus('Volunteer')">Volunteer</button>
              </div>
              <input type="hidden" name="userStatus" id="userStatus" value=""> <!-- Hidden input to store userStatus -->
            </div>        
            
            <label for="email">Email</label>
            <input type="email" name="email" class="field form-control rounded-3" placeholder="name@example.com" required>
    
            <label for="password">Password</label>
            <input type="password" name="password" class="field form-control rounded-3" placeholder="Password" required>
    
            <p class="error"></p>
    
            <input type="submit" value="Sign Up" class="btn" style="border: 1px solid black;">
          
          </form>
  
          <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"> Donate </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleFormControlTextarea1"> Name </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="form-group">
            <label for="amount"> How much do you want to donate? </label>
            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="amount">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- trying to set up the search bar and map API functionality-->
<!-- <input
      id="pac-input"
      class="controls"
      type="text"
      placeholder="Search Box"
      style="background-color: #fff;
      border: 0;
      border-radius: 2px;
      box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
      margin: 0 auto;
      display:block;
      font: 400 18px Roboto, Arial, sans-serif;
      overflow: hidden;
      font-family: Roboto;"
    />
<div id="map" style="width: 40%; height: 400px; margin:auto"></div>
  </button>
</div>
</div>  -->


<!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places"></script>


<div id="map"></div>  -->

<script>
    initMap();
</script>


<script>
  function setUserStatus(status) {
    document.getElementById('userStatus').value = status;
  }
</script>

<script src="/static/map_embed.js"></script>


<!-- {% endblock %} -->